<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejercicio 3 - Identificate</title>
	<!-- JQuery -->
	<link rel="stylesheet" href="{{ url_for('static',filename='jquery/jquery-3.2.1.min.js') }}">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/4.0.0-alpha.6/css/bootstrap.min.css') }}">
    <!-- Bootstrap JS -->
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/4.0.0-alpha.6/js/bootstrap.min.js') }}">
</head>
	<body>
		<div class="container">	
			<div class="row justify-content-md-center">
				<p class="h4">Identificación</p>
			</div>

			<div class="row justify-content-md-center">
				<form action="/form" method="POST">
					<div class="form-group">
						<label for="nombre" class="control-label">Nombre</label> <br>
						<input type="text"
							id="nombre"
							name="nombre"
							class="form-control"
						 	placeholder="Ingrese su nombre" required/>
						<br>
						<button type="submit" class="btn btn-outline-primary">Ver datos meteorologicos</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
