<html>

<head>
	<!-- Responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- JQuery -->
	<script src="{{url_for('static', filename='jquery/jquery-3.2.1.min.js')}}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" />
	<!-- Bootstrap JS -->
	<script src="{{url_for('static', filename='bootstrap/js/popper.min.js')}}"></script>
	<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
</head>

<body>
	<div class="container">
		<h1 class="text-center"> Informacion del Microcontrolador </h1>
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col text-center">
						<h4> Frecuencia de muestreo </h4>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<center> Valor 1 </center>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col text-center">
						<h4> Promedio ultimas 10 muestras </h4>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<center> Valor 2 </center>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col text-center">
						<h4> Ultima muestra </h4>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<center> Valor 3 </center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<form method="POST" action="/result">
					<label for="var1"> Operando 1 </label>
					<input type="number" id="var1" name="var1" placeholder="Ingrese un numero" required/>
					<br>
					<label for="var2"> Operando 2 </label>
					<input type="number" id="var2" name="var2" placeholder="Ingrese un numero" required/>
					<br>
					<center><button type="submit" class="btn btn-primary"> Calcular suma </button></center>
				</form>
			</div>
			<div class="col"></div>
		</div>
</body>

</html>