Depende de las librerias: Werkzeug and Jinja2. Y python 2.6 o mas reciente.
 - Para eso:
    python --version
    sudo apt install python-setuptools # Para easy_install
    sudo easy_install Werkzeug
    sudo easy_install Jinja2
    # Para el tema de las versiones
    sudo apt-get install python-virtualenv
    sudo apt install virtualenv
    mkdir prueba
    cd prueba
    virtualenv venv
    . venv/bin/activate # Para desactivar: deactivate
    # Por fin instalamos Flask
    pip install Flask
    FLASK_APP=hello.py flask run # o sudo python app.py


Virtualenv