<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ejercicio 3 - Datos</title>
	<!-- JQuery -->
	<script href="{{ url_for('static',filename='jquery/jquery-3.2.1.min.js') }}"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
	<!-- Bootstrap JS -->
	<script href="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body>
	<div class="container">
		<div class="text-center">
			<p class="h2 text-center">Datos meteorologicos</p>
		</div>

		<div class="text-center">
			<p class="h5 text-center">
				Tiempo de muestreo:
				<span class="badge badge-success">{{muestreo}} seg</span>
			</p>
		</div>
		<br>
		<br>

		<form action="/" method="POST">
			<div class="form-group">

				<div class="row justify-content-center">
					<div class="col-md-auto my-auto text-center">
						<label class="control-label">
							Modificar tiempo de muestreo:
						</label>
					</div>
					<div class="col-md-6 col-lg-4" style="padding-bottom: 10px">
						<select class="form-control" name="muestreo">
							{% for j in ["1", "2", "5", "10", "30", "60"] %}
								{% if muestreo == j %}
									<option selected="selected" value="{{j}}">{{j}} seg</option>
								{% else %}
									<option value="{{j}}">{{j}} seg</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="col-md-auto align-middle text-center">
						<button type="submit" class="btn btn-primary">Actualizar tiempo</button>
					</div>
				</div>

			</div>
		</form>

		<div class="row justify-content-center">
			<div id="autorefreshabletable">
				<table class="table table-striped table-bordered table-responsive">
					<thead>
						<tr>
							<th> Informacion </th>
							<th class="text-center"> Temperatura </th>
							<th class="text-center"> Humedad </th>
							<th class="text-center"> Presion atmosférica </th>
							<th class="text-center"> Velocidad del viento </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row"> Ultima muestra </th>
							{% for i in range(0,4) %}
							<td class="text-center"> {{information[i]}} </td>
							{% endfor %}
						</tr>
						<tr>
							<th scope="row"> Promedio ultimas 10 muestras </th>
							{% for i in range(4,8) %}
							<td class="text-center"> {{information[i]}} </td>
							{% endfor %}
						</tr>
					</tbody>
				</table>
			</div>
			<script type="text/javascript" src="static/jquery/jquery-3.2.1.min.js"></script>
			<script type="text/javascript">
				$(document).ready(function () {
					refresh();
				});
				function refresh() {
					setTimeout(function () {
						$('#autorefreshabletable').load(' #autorefreshabletable');
						refresh();
					}, {{muestreo }}*1000);
				}
			</script>
		</div>
	</div>
</body>

</html>